@import 'frontend/assets/scss/_main';
@import 'frontend/assets/scss/_colors';

:export {
	main_bigDesktop: $main_bigDesktop;
	main_desktop: $main_desktop;
	main_tablet: $main_tablet;
	main_mobile: $main_mobile;
	main_standardSpace: $main_standardSpace;
	main_minWidth: $main_minWidth;
	main_fontSize: $main_fontSize;

	colors_primary: $colors_primary;
	colors_pLight: $colors_pLight;
	colors_pDark: $colors_pDark;
	colors_pText: $colors_pText;

	colors_secondary: $colors_secondary;
	colors_sLight: $colors_sLight;
	colors_sDark: $colors_sDark;
	colors_sText: $colors_sText;

	colors_dmode_primary: $colors_dmode_primary;
	colors_dmode_pLight: $colors_dmode_pLight;
	colors_dmode_pDark: $colors_dmode_pDark;
	colors_dmode_pText: $colors_dmode_pText;

	colors_dmode_secondary: $colors_dmode_secondary;
	colors_dmode_sLight: $colors_dmode_sLight;
	colors_dmode_sDark: $colors_dmode_sDark;
	colors_dmode_sText: $colors_dmode_sText;
}
