$colors_primary: #fafafa;
$colors_pLight: #ffffff;
$colors_pDark: #c7c7c7;
$colors_pText: #1e1e1e;

$colors_secondary: #8fd36b;
$colors_sLight: #c2ff9b;
$colors_sDark: #5ea13d;
$colors_sText: #fcfcfc;

$colors_dmode_primary: #111827;
$colors_dmode_pLight: #383e4f;
$colors_dmode_pDark: #000000;
$colors_dmode_pText: #fcfcfc;

$colors_dmode_secondary: #8fd36b;
$colors_dmode_sLight: #c2ff9b;
$colors_dmode_sDark: #5ea13d;
$colors_dmode_sText: #fcfcfc;

$colors_link: lighten($colors_secondary, 10%);
$colors_linkActive: lighten($colors_link, 20%);

$colors_error: #ff604f;
$colors_errorText: #fff;
$colors_success: rgb(4, 165, 111);

@mixin colors_error($variant: 'light') {
	background-color: $colors_error;
	color: $colors_errorText;
}

@function colors_primary($variant: 'light') {
	@if ($variant== 'light') {
		@return $colors_primary;
	} @else {
		@return $colors_dmode_primary;
	}
}

@function colors_pLight($variant: 'light') {
	@if ($variant== 'light') {
		@return $colors_pLight;
	} @else {
		@return $colors_dmode_pLight;
	}
}

@function colors_pText($variant: 'light') {
	@if ($variant== 'light') {
		@return $colors_pText;
	} @else {
		@return $colors_dmode_pText;
	}
}

@function colors_pDark($variant: 'light') {
	@if ($variant== 'light') {
		@return $colors_pDark;
	} @else {
		@return $colors_dmode_pDark;
	}
}

@function colors_secondary($variant: 'light') {
	@if ($variant== 'light') {
		@return $colors_secondary;
	} @else {
		@return $colors_dmode_secondary;
	}
}

@function colors_sLight($variant: 'light') {
	@if ($variant== 'light') {
		@return $colors_sLight;
	} @else {
		@return $colors_dmode_sLight;
	}
}

@function colors_sText($variant: 'light') {
	@if ($variant== 'light') {
		@return $colors_sText;
	} @else {
		@return $colors_dmode_sText;
	}
}

@mixin colors_primary($variant: 'light') {
	background-color: colors_primary($variant);
	color: colors_pText($variant);
}

@mixin colors_pLight($variant: 'light') {
	background-color: colors_pLight($variant);
	color: colors_pText($variant);
}

@mixin colors_pDark($variant: 'light') {
	background-color: colors_pDark($variant);
	color: colors_pText($variant);
}

@mixin colors_secondary($variant: 'light') {
	background-color: colors_secondary($variant);
	color: colors_sText($variant);
}

@mixin colors_sLight($variant: 'light') {
	background-color: colors_sLight($variant);
	color: colors_sText($variant);
}

@mixin colors_sDark($variant: 'light') {
	background-color: colors_sDark($variant);
	color: colors_sText($variant);
}
