@mixin fadein($dur: .3s, $from: 0) {
    animation: fadein $dur;
    @keyframes fadein {
        from {
            opacity: $from;
        }
        to {
            opacity: 1;
        }
    }
}

@mixin slideToLeft($dur: .3s, $from: 100%) {
    animation: slideToLeft $dur linear;
    @keyframes slideToLeft {
        from {
            transform: translateX($from);
        }
        to {
            transform: translateX(-100%);
        }
    }
}